html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper{
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1200px;
    background-color: whitesmoke;
    font-family: 'Fredoka', sans-serif;
    font-size: 10px/3;
    padding: 50px;
}

h1, h2, h3{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 40px;
    margin-bottom: 30px;
}
h2{
    font-size: 30px;
    margin-bottom: 30px;
}
h3{
    font-size: 25px;
    margin-bottom: 30px;
}
section{
    border: 1px solid #D0CFCF ;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px ;
}
.fig{
    text-align: center;
}
img{
    width: 500px;
    border-radius: 50%;
}
figcaption{
    border-radius: 5px;
    padding: 10px;
    background-color: #D0CFCF;
}
.list{
    display: block;
    text-align: left;
    margin: 0px;
}
footer{
    margin-top: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}

