html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#wrapper {
  margin: 50px auto;
  max-width: 1200px;
  background-color: whitesmoke;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 50px;
}
h1,
h2,
h3 {
  font-family: 'Acme', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
section {
  border: 1px solid #d0cfcf;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
figure {
  text-align: center;
}
img {
  width: 500px;
  border-radius: 50%;
}
figcaption {
  border-radius: 5px;
  padding: 10px;
  background-color: #d0cfcf;
}
.list-title {
  justify-content: start;
  margin: 0px;
}
footer {
  margin-top: 50px;
  text-align: center;
}
ul li :not(:last-of-type) {
  margin-bottom: 8px;
}
a {
  text-decoration: none;
}
